[Desktop Entry]
Type=Link
Name=Install 22.04 Pop!_OS LTS NVIDIA for PLEX
URL=https://docs.google.com/spreadsheets/d/1SERdPuUeOo7bumHBerdVWEN7PiVsmveUNAOpXOuAJgY/edit?usp=drivesdk
